<!-- NAVBAR -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container p-2">
        <a class="navbar-brand" href="/">
            Tus Videos Favoritos!
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add"><i class="fas fa-plus-circle"></i> Agregar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact"><i class="fas fa-file-signature"></i> Escribenos!</a>
                </li>
            </ul>
        </div>
    </div>
</nav>