<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App Videos Favoritos</title>
    <%- include ('partials/_header') %>
</head>

<body>

    <!-- HEADER -->
    <%- include ('partials/_navigation') %>
    <div class="container p-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre del video" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input id="link" type="text" name="description"
                                placeholder="Link embed de youtube" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="category" placeholder="Categoria" class="form-control">
                        </div class="col-sm-6">
                        <button id="verButton" type="submit" onclick="" class="btn btn-primary">
                            ¡Agregar!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- JAVASCRIPT CDNS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>