body {
    background-image: url("../img/video.jpg");
    padding-top: 50px;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar-brand {
    font-family: 'Spicy Rice', cursive;
    font-size: 1.5rem;
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Lobster';
}

header img {
    width: 60%;
}

/* Página de inicio*/

.container {
    padding: 50px;
    padding-top: 20px;
    display: block;
}

.container .image {
    float: left;
    width: 100%;
}

.video {
    list-style: square;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-left: 1000px;
    margin-right: 1000px;
    margin-bottom: 1000px;
}

#lista li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

h1 {
    font-size: 30px;
}

h2 {
    color: #ffff;
}

h3 {
    color: #ffff;
    font-size: 30px;
}
h4 {
    color: #ffff;
}

label {
    color: #ffff;
    font-size: 30px;
}

p{
    color: #ffff;
    font-size: 30px;
}